

#Title {
    font-style: italic;
    font-size: 18px;
    background-color: gray;
}

#navBar {
    position: absolute;
    right: 5%;
    top: 4.5%;
}
h3{
    font-size: 200%
}
p{
    font-size: 150%
}
#text {
    margin-right: 10%;
    margin-left: 10%;
    border: solid 1px;
    padding: 10% 10%;
    background-color: #ffffff;
}
.box{
    text-align: center;   
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 200%;
    font-size: 100%;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: gray}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: silver;
}
.name{
    font-size: 100%;
}
.grade{
    font-size: 75%;
}
#footer{
    border-style: inset;
    display: block;
    width: 50%;
    background-color: #90EE90;
    line-height: 30%;
    position: absolute;
    bottom:1;
    margin-top: 0%;
    margin-bottom: 20%;
    margin-right: 0%;
    margin-left: 5%;
    background-color: #ffffff; 
}
body {
    background-color: #a0d6b4;
}
.name {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

