

#Title {
    font-style: italic;
    font-size: 18px;
    background-color: gray;
}

#navBar {
    position: absolute;
    right: 5%;
    top: 4.5%;
}
h3{
    font-size: 200%
}
p{
    font-size: 150%
}
#text {
    margin-right: 10%;
    margin-left: 10%;
    border: solid 1px;
    padding: 10% 10%;
}
.box{
    text-align: center;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 200%;
    font-size: 100%;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: gray}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: silver;
}
.name{
    font-size: 100%;
}
.grade{
    font-size: 75%;
}