body{
	background-color: #a0d6b4;
}
#logo {
	text-align: left;
	font-size: 50px;
	line-height: 5px;
}
.row{
    background-image:url('http://www.hear.org/starr/maps/stock/originals/oahu_outline_10_white.jpg' );
    position: relative;
    background-repeat: no-repeat;
}

.column{
	border-style: solid;
	align-self: left;
	border-radius: 25px;
    background: #90EE90;
    padding: 20px; 
    width: 70px;
    height: 600px; 
}


#logo {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #90EE90;
	position: relative;
    font-size: 17px;

}

#whole {
	width: 100%;
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 100%; 
	background-color: blue; 
	position: absolute;
	top: 50%;
	right: 50%;
}
.redcircle {
    width: 10px;
    height: 10px;
    border-radius: 100%; 
    background-color: red; 
    position: absolute;
    margin-left: 20px; 
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 200%;
    font-size: 100%;
    border: none;

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: gray}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: silver;
}


#footer{
    border-style: inset;
    display: block;
   	width: 90%;
   	background-color: #90EE90;
   	line-height: 30px;
  	position: absolute;
  	bottom: 0;

}

#a1{
	display: none;
	border: solid 1px;
	text-align: center;
}
#a2{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a3{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a4{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a5{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a6{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a7{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a8{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a9{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a10{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a11{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a12{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a13{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a14{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a15{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a16{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a17{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a18{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a19{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a20{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a21{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a22{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a23{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a24{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a25{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a26{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a27{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a28{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a29{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a30{
    display: none;
    border: solid 1px;
    text-align: center;
}
#a31{
    display: none;
    border: solid 1px;
    text-align: center;
}