body{
	background-color: #a0d6b4;
}
#logo {
	text-align: left;
	font-size: 50px;
	line-height: 5px;
}
img {
	margin-top: 50px;
	max-width: 100%;
	height: 650px;
	position:  absolute;
	top: 10%;
	left: 10%;
}

.column{
	border-style: solid;
	align-self: left;
	border-radius: 25px;
    background: #90EE90;
    padding: 20px; 
    width: 70px;
    height: 600px; 
}


#logo {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #90EE90;
	position: relative;
    font-size: 17px;

}
#abt{

}
	


#whole {
	width: 100%;
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 100%; 
	background-color: blue; 
	position: absolute;
	top: 50%;
	right: 50%;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 200%;
    font-size: 100%;
    border: none;

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: gray}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: silver;
}


#footer{
    border-style: inset;
    display: block;
   	width: 90%;
   	background-color: #90EE90;
   	line-height: 30px;
  	position: absolute;
  	bottom: 0;
    margin-top: 500px;
    margin-left: 50px;
}
#Waipahu{
	display: none;
	border: solid 1px;
	text-align: center;
}
#PearlBity{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Waimalu{
    display: none;
    border: solid 1px;
    text-align: center;
}
#WhitmoreVillage{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Ahuimanu{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Waikane{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Heeia{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Waimanalo{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Waialua{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Wahiawa{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Maunawili{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Aiea{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Haleiwa{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Nanakulii{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Makaha{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Waianae{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Ewa{
    display: none;
    border: solid 1px;
    text-align: center;
}
#Wahiawa{
    display: none;
    border: solid 1px;
    text-align: center;
}
