#topNav {
	position: absolute;
	top: 5%;
	right: 7%;
}

}

img {
	max-width: 100%;
	height: 700px;
	position:  absolute;
	top: 10%;
	left: 10%;
}

#logo {
	font-style: italic;
	font-size: 18px;
}

#logo {
	background-color: gray;
}

#whole {
	width: 100%;
}

.circle {
	width: 10px;
	height: 10px;
	border-radius: 100%; 
	background-color: blue; 
	position: absolute;
	top: 50%;
	right: 50%;

}
.dropbtn {
    background-color: black;
    color: white;
    padding: 200%;
    font-size: 100%;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: gray}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: silver;
}