
#Title {
	font-style: italic;
	font-size: 18px;
	background-color: gray;
}

#navBar {
	position: absolute;
	right: 5%;
	top: 4.5%;
}


#text {
	border: solid 1px;
}

img {
  max-width: 40%; 

}